@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 50px;
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: -50px;
  opacity: 0;
  z-index: 5;
  padding: 3px 140px 0px 140px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-scroll-up {
  animation-name: header-animation-up;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes header-animation-up {
  from {
    top: -50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.header-scroll-down {
  animation-name: header-animation-down;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes header-animation-down {
  from {
    top: 0px;
    opacity: 1;
  }

  to {
    top: -50px;
    opacity: 0;
  }
}

.header-profile {
  height: 45px;
  border-radius: 50% 50%;
  transform: scale(0);
  transition: transform 1s 3s ease-in-out;
}

.header-profile-scroll {
  transform: scale(1);
}

.header-text-link {
  padding: 4px 5px 2px 6px;
  border: 2px solid #4788C7;
  border-radius: 15px;
  border-width: thin;
  background: #DFF0FE;
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  color: #4788C7;
  font-size: 12px;
}

.header-text-link-container {
  transform: scale(0);
  transition: transform 1s 3s ease-in-out;
}

.header-text-link-scroll {
  transform: scale(1);
}


/* .tooltip{
  position: fixed;
  top: 50px;
  left: 81%;
  z-index: 8;
  display: flex;
  line-height: 30px;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 100px;
  box-sizing: border-box;
} */

.intro {
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  z-index: 1;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 2s;
}

.intro-scroll {
  transform: scaleY(0);
}

nav {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  z-index: 2;
}

.profile {
  height: 200px;
  border-radius: 50% 50%;
  transition: transform 2s;
}

.profile-scroll {
  transform: translate(-39vw, -36.3vh) scale(0);
}

.name {
  font-size: 1.875rem;
  text-align: center;
  font-family: 'Satisfy', cursive;
  margin-top: 0;
  margin-bottom: 0;
  color: #4788C7;
  transition: transform 1s;
}

.name-scroll {
  transform: translateX(-1000%);
}

.designation {
  font-size: 1.25rem;
  text-align: center;
  font-family: 'Satisfy', cursive;
  margin-top: 0;
  margin-bottom: 0;
  color: #4788C7;
  transition: transform 2s;
}

.designation-scroll {
  transform: translateX(1000%);
}

.icon-section {
  transition: transform 2s;
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-github {
  width: 33px;
  height: 33px;
  transition: transform 3s;
}

.icon-github-scroll {
  transform: rotate(5490deg);
}

.icon-linkedin {
  width: 44px;
  height: 44px;
  transition: transform 3s;
}

.icon-linkedin-scroll {
  transform: rotate(5490deg);
}

.icon-dribbble {
  width: 32px;
  height: 32px;
  transition: transform 3s;
}

.icon-dribbble-scroll {
  transform: rotate(5490deg);
}

.icons-scroll {
  transform: translate(48vw, -20vh) rotate(-90deg) scale(0.8);
}

img {
  transition: 0.1s;
}

img:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

.icon-section img:hover {
  transform: translateY(-10px);
}

.hire:hover {
  filter: brightness(90%);
}

.open-app:hover {
  filter: brightness(90%);
}

.header-text-link:hover {
  filter: brightness(90%);
}

main {
  position: relative;
  top: 100%;
  text-align: center;
  transform: translateY(0);
  transition: transform 1s;
  width: 95%;
  margin: auto;
  margin-bottom: 300px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-scroll {
  transform: translateY(-70vh);
}

.work {
  width: 60%;
  height: 60%;
  margin: auto;
  padding: auto;
  text-align: center;
}

.work-heading {
  color: #4788C7;
  font-size: 2.2rem;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
  color: #4788C7;
  font-family: 'Satisfy', cursive;
  text-decoration: underline;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  text-align: left;
  color: #4788C7;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style: circle;
  color: #4788C7;
  list-style-position: inside;
}

hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #DFF0FE, #4788C7, #DFF0FE);
  background-image: -moz-linear-gradient(left, #DFF0FE, #4788C7, #DFF0FE);
  background-image: -ms-linear-gradient(left, #DFF0FE, #4788C7, #DFF0FE);
  background-image: -o-linear-gradient(left, #DFF0FE, #4788C7, #DFF0FE);
}

.open-app {
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
  color: #4788C7;
  font-size: 16px;
  border: 2px solid #4788C7;
  border-radius: 15px;
  border-width: thin;
  background: #DFF0FE;
  padding: 3px 5px 3px 6px;
  text-decoration: none;
}

.project-image-resume {
  box-sizing: border-box;
  width: 28vw;
  height: 41vh;
}

.project-image-iCakes {
  box-sizing: border-box;
  width: 18vw;
  height: 41vh;
}

.skills {
  width: 60%;
  height: 60%;
}

.skills-heading {
  color: #4788C7;
  font-size: 2.2rem;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
  margin-bottom: 30px;
}

.figure-div {
  display: inline-block;
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
  border-radius: 50% 50%;
  width: 10rem;
  height: 10rem;
  margin: 10px;
}

figure {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-images {
  height: 5.5rem;
}

figcaption {
  color: #4788C7;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.about-me {
  width: 40%;
  height: 40%;
  margin: auto;
  color: #4788C7;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.about-me-heading {
  color: #4788C7;
  font-size: 2.2rem;
  text-decoration: underline;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 0;
}

.about-me-content {
  text-align: left;
  border-left: 5px solid #DFF0FE;
  border-top: 5px solid rgba(137, 171, 245, 0.37);
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
  width: 100%;
  height: 100%;
  z-index: 6;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  display: none;
  width: 50%;
  height: 30%;
  text-align: center;
  background: #DFF0FE;
  border-radius: 30px 30px;
  border: 3px solid #4788C7;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modal;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

@keyframes modal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.modal-header {
  font-size: 30px;
  padding-top: 8px;
  padding-right: 20px;
  color: #4788C7;
}

.closeBtn {
  float: right;
  transition: 0.1s;
  cursor: pointer;
}

.closeBtn:hover {
  transform: rotate(90deg);
}

.modal-body {
  font-size: 30px;
  color: #4788C7;
  margin-top: 70px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  height: 35px;
  margin-right: 10px;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.call {
  margin-right: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-link{
  color: #4788C7;
  font-family: 'Teko', sans-serif;
}

.call-link{
  color: #4788C7;
  font-family: 'Teko', sans-serif;
}

footer {
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  bottom: -50px;
  height: 50px;
  width: 100%;
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
  padding: 15px;
  opacity: 0;
  z-index: 4;
}

.footer-scroll-up {
  animation-name: footer-animation-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes footer-animation-up {
  from {
    bottom: -50px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.footer-scroll-down {
  animation-name: footer-animation-down;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes footer-animation-down {
  from {
    bottom: 0px;
    opacity: 1;
  }

  to {
    bottom: -50px;
    opacity: 0;
  }
}

.hire {
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
  text-decoration: none;
  color: #4788C7;
  font-size: 16px;
  border: 2px solid #4788C7;
  border-radius: 15px;
  border-width: thin;
  background: #DFF0FE;
  padding: 4px 5px 2px 6px;
  cursor: pointer;
}

.hire-link {
  transform: scale(0);
  transition: transform 1s 0.5s;
}

.hire-scroll {
  transform: scale(1);
}

@media screen and (max-width : 800px) {
  .header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: -50px;
    opacity: 5;
    z-index: 10000;
    padding: 3px 20px 0px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    position: relative;
    top: 100%;
    text-align: center;
    transform: translateY(0);
    transition: transform 2s;
    width: 90%;
    margin: auto;
    margin-bottom: 250px;
    z-index: 3;
  }

  .skills-heading {
    color: #4788C7;
    font-size: 1.7rem;
    font-family: 'Kaushan Script', cursive;
    text-decoration: underline;
    margin-bottom: 20px;
  }

  .skills {
    width: 80%;
    height: 80%;
  }

  .figure-div {
    display: inline-block;
    background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
    border-radius: 50% 50%;
    width: 8rem;
    height: 8rem;
    margin: 10px;
  }

  figure {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills-images {
    height: 3rem;
  }

  figcaption {
    color: #4788C7;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .project-image-resume {
    box-sizing: border-box;
    width: 500px;
    height: 30vh;
  }

  .project-image-iCakes {
    box-sizing: border-box;
    width: 500px;
    height: 30vh;
  }

  .work {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: auto;
    text-align: center;
  }

  ul {
    text-align: left;
    color: #4788C7;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .about-me {
    width: 60%;
    height: 60%;
    margin: auto;
    color: #4788C7;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
  }
}

@media screen and (max-width : 500px) {
  .header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: -50px;
    opacity: 0;
    z-index: 5;
    padding: 3px 3px 0px 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .intro {
    background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    z-index: 1;
    transform-origin: top;
    transform: scaleY(1);
    transition: transform 2s;
  }

  .intro-scroll {
    transform: scaleY(0);
  }

  main {
    box-sizing: border-box;
    position: relative;
    top: 100%;
    text-align: center;
    transform: translateY(0);
    transition: transform 2s;
    width: 85%;
    margin: auto;
    margin-bottom: 250px;
    z-index: 3;
  }

  .skills-heading {
    color: #4788C7;
    font-size: 1.7rem;
    font-family: 'Kaushan Script', cursive;
    text-decoration: underline;
    margin-bottom: 20px;
  }


  .figure-div {
    display: inline-block;
    background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
    border-radius: 50% 50%;
    width: 7rem;
    height: 7rem;
    margin: 10px;
  }

  figure {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills-images {
    height: 3rem;
  }

  figcaption {
    color: #4788C7;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .project-image-resume {
    box-sizing: border-box;
    width: 300px;
    height: 28vh;
  }

  .project-image-iCakes {
    box-sizing: border-box;
    width: 300px;
    height: 28vh;
  }

  .work {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: auto;
    text-align: center;
  }

  ul {
    text-align: left;
    color: #4788C7;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .about-me {
    width: 60%;
    height: 60%;
    margin: auto;
    color: #4788C7;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .modal {
    width: 80%;
  }

  .modal-body {
    margin-top: 90px;
  }
}

@media screen and (max-width : 1000px) {
  .icons-scroll {
    transform: translate(47.5vw, -20vh) rotate(-90deg) scale(0.8);
  }
}

@media screen and (max-width : 500px) {
  .icons-scroll {
    transform: translate(46.2vw, -20vh) rotate(-90deg) scale(0.8);
  }
}
